.sharko-picture {
  background-image: url('/assets/imgs/sharko.jpg');
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 100% auto;
  border-radius: 50%;
  height: 250px;
  width: 250px;
}

.gray-light-container {
  padding: 15px;
}
