@import '../../../variables';

:host {
  align-items: stretch;
  display: flex;
}

.table-header {
  font-weight: bold;
}

.items {
  .row {
    &:nth-child(odd) {
      background-color: $gray-light;
    }
  }
}

.content-right {
  img {
    width: 100%;
    height: auto;
  }
}
